        body {
            background-color: #c0fefc;
        }
        hr {

            background-color: #c0fefc;
            border-style: none;
            border-top-style: dotted;
            border-color: grey;
            border-width: 7px;
            width: 5%;
            height: 0px;
        }
        img {
            height: 200px;
        }
        h1 {
            color: #04009a;
        }
        h3 {
            color: #04009a;
        }